div#edu, div#exp, div#home, div#cont {
  background-image: url("https://www.tokkoro.com/picsup/2979814-minimalism-code-html___mixed-wallpapers.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

p.overview {
  color: rgba(255, 255, 255, 0.527);
}

ul {
  list-style: none;
  text-align: left;
  color: rgba(255, 255, 255, 0.527);
}
li.exper {
  list-style: circle;
  margin-left: 40px;
}
#nav {
  position: fixed;
  width: 100%;
}

h1.title {
  font-size: 72px;
  color: #1212138f;
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-size: 60px;
  color: #1212138f;
  text-align: center;
  vertical-align: middle;
}

.parent {
  width: 700px;
  height: 800px;
  text-align: center;
  margin: auto;
  display: flex;
}

.child {
  margin: auto;
  text-align: center;
}